<!DOCTYPE html>
<html ng-app="WEBSITE">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="stylesheets/sign.css" rel="stylesheet">
    
    <script src="https://cdn.bootcss.com/angular.js/1.7.8/angular.min.js"></script>
    <script src="https://cdn.bootcss.com/angular.js/1.7.8/angular-route.min.js"></script>
    <script src="https://cdn.bootcss.com/angular.js/1.7.8/angular-resource.min.js"></script>
    <script src="javascripts/website.js"></script>
  </head>
  <body>
    <div ng-view> </div>
  </body>
</html>
