<!--div class="container" style="border:1px solid #ddd">
<form action="/video_upload" method="POST" enctype="multipart/form-data">
    <div class="form-line">
        <label>请选择视频文件：</label><span class="small-tip">视频文件暂只支持.mp4格式</span>
        <input id="files" type="file" name="file" ng-src={{files[0].name}} onchange="angular.element(this).scope().fileChanged(this)"/>
    </div>
    <p>分区</p>
    <select ng-model="video.tag">
        <option value="Game">游戏</option>
        <option value="Life">生活</option>
        <option value="Technology">科技</option>
        <option value="FilmNTV">影视</option>
    </select>
    <p>标题</p>
    <input type="text" class="form-control" aria-describedby="basic-addon1" ng-model="video.title">
    <p>简介</p>
    <textarea class="form-control" ng-model="video.brief"></textarea>
    <button type="submit" ng-click="upload()">投稿</button>
</form>
</div-->

<div class="container">
  <div class="row" style="margin-bottom: 25px;">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h2>视频投稿</h2>
        </div>
        <div class="card-body">
          <form name="myForm">
            <fieldset>
              <legend>选择视频文件</legend>
              
              <!--input type="text" name="userName" ng-model="username" size="31" required>
              <i ng-show="myForm.userName.$error.required">*required</i-->
              <br>视频:
              <input type="file" ngf-select ng-model="videoFile" name="file"
                    accept="video/*" ngf-max-size="400MB" required
                    ngf-model-invalid="errorFile">
              <i ng-show="myForm.file.$error.required">*required</i>
              <i ng-show="myForm.file.$error.maxSize">文件过大
                    {{errorFile.size / 1000000|number:1}}MB max 400MB
              </i>
              <video controls ng-show="myForm.file.$valid" ngf-src="file"></video>
              <button ng-click="videoFile = null" ng-show="videoFile" type="button" class="btn btn-danger btn-xs">删除</button>
              <hr>
              <p>选择分区</p>
              <select ng-model="video.tag" ng-init="video.tag = 'Game'">
                <option value="Game">游戏</option>
                <option value="Life">生活</option>
                <option value="Technology">科技</option>
                <option value="FilmNTV">影视</option>
              </select>
              <hr>
              <p>视频标题</p>
              <input type="text" class="form-control" ng-model="video.title">
              <hr>
              <p>视频简介</p>
              <textarea class="form-control" ng-model="video.brief"></textarea>
              <br>
              <div class="progress" ng-show="videoFile.progress >= 0">
                <div class="progress-bar" role="progressbar" style="width: {{videoFile.progress}}%" ng-bind="videoFile.progress + '%'"></div>
                <br>
              </div>
              
              <button ng-disabled="!myForm.$valid" ng-click="uploadVideo(videoFile)" type="button" class="btn btn-primary">上传</button>

              <!--span class="progress" ng-show="videoFile.progress >= 0">
                <div style="width:{{videoFile.progress}}%" ng-bind="videoFile.progress + '%'"></div>
              </span-->
              <!--Bootstrap编写进度条-->
              
              <!--span ng-show="videoFile.result">上传成功</span-->
              <div ng-show="videoFile.result" class="alert alert-success" role="alert">上传成功</div>
              <div ng-show="errorMsg" class="alert alert-danger" role="alert">上传失败</div>
              <!--span class="err" ng-show="errorMsg">{{errorMsg}}</span-->
            </fieldset>
          </form>
          <!--form action="/video_upload" method="POST" enctype="multipart/form-data">
            <label>请选择视频文件：</label><span class="small-tip">视频文件暂只支持.mp4格式</span>
            <input id="files" type="file" name="file" ng-src={{files[0].name}} onchange="angular.element(this).scope().fileChanged(this)"/>
            <hr>
            <p>选择分区</p>
            <select ng-model="video.tag">
              <option value="Game">游戏</option>
              <option value="Life">生活</option>
              <option value="Technology">科技</option>
              <option value="FileNTV">影视</option>
            </select>
            <hr>
            <p>视频标题</p>
            <input type="text" class="form-control" aria-describedby="basic-addon1" ng-model="video.title">
            <hr>
            <p>视频简介</p>
            <textarea class="form-control" ng-model="video.brief"></textarea>
            <button class="btn btn-primary" type="submit" ng-click="upload()">投稿</button>
          </form-->
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>