<!-- 路径导航-->
<ul class="breadcrumb">
  <li class="active">首页</li>
</ul>

<div class="container">
  <!--游戏-->
  <div class="row my-row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="card">
        <div class="card-body">
          <div class="zone-title">
            <div class="headline clearfix">
              <p class="name">游戏</p>
            </div>
          </div>
          <div class="storey-box clearfix">
            <div class="spread-module" ng-repeat="video in videos | filter:{v_tag: 'Game'} | limitTo: 8">
              <a href="/#!/video/{{video._id}}">
                <div class="pic">
                  <div class="lazy-img">
                    <img ng-src="{{video.v_coverage}}" width="160" height="100">
                  </div>
                </div>
                <p class="t">{{video.v_title}}</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
  <!--生活-->
  <div class="row my-row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="card">
        <div class="card-body">
          <div class="zone-title">
            <div class="headline clearfix">
              <p class="name">生活</p>
            </div>
          </div>
          <div class="storey-box clearfix">
            <div class="spread-module" ng-repeat="video in videos | filter: {v_tag: 'Life'} | limitTo: 8">
              <a href="/#!/video/{{video._id}}">
                <div class="pic">
                  <div class="lazy-img">
                    <img ng-src="{{video.v_coverage}}" width="160" height="100">
                  </div>
                </div>
                <p class="t">{{video.v_title}}</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
  <!--影视-->
  <div class="row my-row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="card">
        <div class="card-body">
          <div class="zone-title">
            <div class="headline clearfix">
              <p class="name">影视</p>
            </div>
          </div>
          <div class="storey-box clearfix">
            <div class="spread-module" ng-repeat="video in videos | filter:{v_tag: 'FilmNTV'} | limitTo: 8">
              <a href="/#!/video/{{video._id}}">
                <div class="pic">
                  <div class="lazy-img">
                    <img ng-src="{{video.v_coverage}}" width="160" height="100">
                  </div>
                </div>
                <p class="t">{{video.v_title}}</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
  <!--科技-->
  <div class="row my-row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="card">
        <div class="card-body">
          <div class="zone-title">
            <div class="headline clearfix">
              <p class="name">科技</p>
            </div>
          </div>
          <div class="storey-box clearfix">
            <div class="spread-module" ng-repeat="video in videos | filter:{v_tag: 'Tech'} | limitTo: 8">
              <a href="/#!/video/{{video._id}}">
                <div class="pic">
                  <div class="lazy-img">
                    <img ng-src="{{video.v_coverage}}" width="160" height="100">
                  </div>
                </div>
                <p class="t">{{video.v_title}}</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
  <!--全部视频-->
	<div class="row my-row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="card">
        <div class="card-body">
          <div class="zone-title">
            <div class="headline clearfix">
              <p class="name">全部</p>
            </div>
          </div>
          <div class="storey-box clearfix">
            <div class="spread-module" ng-repeat="video in videos">
              <a href="/#!/video/{{video._id}}">
                <div class="pic">
                  <div class="lazy-img">
                    <img ng-src="{{video.v_coverage}}" width="160" height="100">
                  </div>
                </div>
                <p class="t">{{video.v_title}}</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
  <!--END-->
</div>