<canvas class="particle"></canvas>
<div id="box">
    <div id="logo">欢迎登录！</div>
    <div id="info">
        <input type="text" class="form-control" id="user" placeholder="账号：">
        <input type="password" class="form-control" id="pass" placeholder="密码：">
        <div class="input-group">
            <img id="img-submit" src="submit.jpg">
            <u><input type="text" class="form-control" id="validateCode" name="validateCode" placeholder="验证码"></u>
        </div>
        <button class="btn btn-info" id="btn-login">登录</button>
        <div id="remember">记住登录 <input type="checkbox"></div>
    </div>
</div>