<canvas class="particle"></canvas>
<div id="box">
    <div id="logo">欢迎注册！</div>
    <div id="info">
        <div ng-model="warning"><p>{{warning}}</p></div>
        <input type="text" class="form-control" ng-model="user.u_name" id="user" placeholder="请输入用户名：" required>
        <input type="password" class="form-control" ng-model="user.pwd" id="pass" placeholder="请输入密码：" required>
        <input type="password" class="form-control" id="pass1" placeholder="请再次输入密码：" required>
        <input type="text" class="form-control" ng-model="user.email" id="email" placeholder="请输入邮箱：" required>
        <input type="button" class="btn btn-info" id="btn-reg" value="确认注册" ng-click="save()" />
    </div>
</div>