<!-- 路径导航-->
<ul class="breadcrumb">
  <li><a href="/#!/">首页</a></li>
  <li class="active">用户空间</li>
</ul>

<div class="container">
	<div class="row my-row">
		<div class="col-md-1"></div>
		<!--用户信息展示-->
		<div class="col-md-10">
      <div class="card">
        <div class="card-body my-col">
          <div class="h-user">
            <div class="h-info clearfix">
              <div class="h-avatar">
                <img ng-src="{{user.avatar}}" id="h-avatar">
              </div>
              <div class="h-basic">
                <div>
                  <span id="h-name">{{user.u_name}}</span>
                </div>
                <div class="h-basic-spacing">
                  <h4 class="h-sign">大家好呀！</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="h-action">
            <button type="button" class="btn btn-success" ng-if="!followStatus" ng-click="follow(user.u_name)">+关注</button>
            <button type="button" class="btn btn-warning" ng-if="followStatus" ng-click="unfollow(user.u_name)">-取消关注</button>
          </div>
        </div>
      </div>
		</div>
		<div class="col-md-1"></div>
	</div>
  <!--视频展示-->
  <div class="row my-row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="card">
        <div class="card-body my-col">
          <div class="section video full-rows">
            <h3 class="section-title">TA的视频</h3>
            <div class="content clearfix">
              <div class="small-item" ng-repeat="video in videoList">
                <a href="/#!/video/{{video._id}}" class="cover">
                  <img ng-src="{{video.v_coverage}}" width="160" height="100">
                </a>
                <a href="/#!/video/{{video._id}}" class="title">{{video.v_title}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--发送留言-->
  <div class="row my-row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="card">
        <!--div class="card-body">
          <form>
            <input type="text" ng-model="upMsg.content">
            <input type="submit" ng-click="leave_msg()" value="提交">
          </form>
        </div-->
        <div class="card-body comment-send" ng-if="isLogin">
          <div class="user-face">
            <img class="user-head" ng-src="{{AVATAR}}">
          </div>
          <div class="textarea-container">
            <i class="ipt-arrow"></i>
            <textarea cols="80" name="msg" rows="5" placeholder="请自觉遵守互联网相关的政策法规，严禁发布色情、暴力、反动的言论。" class="ipt-txt" ng-model="upMsg.content">{{upMsg.content}}</textarea>
            <button type="submit" class="comment-submit" ng-click="leave_msg(upMsg)">留言</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>

	<div class="row my-row">
    <!--留言板展示-->
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="card">
        <div class="card-body comment-list">
          <div class="list-item reply-wrap" ng-repeat="msg in msgList | orderBy: 'msg.send_time':true">
            <div class="user-face">
              <a href="/#!/space/{{msg.sender_id}}">
              <img ng-src="{{msg.avatar}}">
              </a>
            </div>
            <div class="con">
              <div class="user">
                <a href="/#!/space/{{msg.sender_id}}" class="name">{{msg.sender_id}}</a>
              </div>
              <p class="text">{{msg.send_content}}</p>
              <div class="info">
                <span class="time">{{msg.send_time}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--ul>
        <li ng-repeat="msg in msgList">
          <p>{{msg.sender_id}}<span>{{msg.send_time}}</span></p>
          <p>{{msg.send_content}}</p>
        </li>
      </ul-->
    </div>
    <div class="col-md-1"></div>
	</div>
</div>