<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <form>
        <label>用户名</label><p>{{user.u_name}}</p>
        <input class="form-control" ng-model="user.email">
        <input type="radio" ng-model="user.sex" value="男">男
        <input type="radio" ng-model="user.sex" value="女">女
        <input type="radio" ng-model="user.sex" value="">保密
      </form>
    </div>
    <div class="col-md-3"></div>
  </div>

  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <p></p>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>