<!-- 路径导航-->
<ul class="breadcrumb">
  <li><a href="/#!/">首页</a></li>
  <li class="active">视频详情</li>
</ul>

<div class="container">

  <div class="row" style="margin-bottom: 25px;">
    <div class="col-md-2"></div>
    <div class="col-md-5">
      <div class="card">
        <div class="card-body">
          <video src="{{video.v_path}}" width="400" height="300" style="clear:both;display: block;margin:auto" controls="controls">
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <h2><b>{{video.v_title}}</b></h2>
      <br>
      <p><small>作者：</small><a href="/#!/space/{{video.up_id}}"><small>{{video.up_id}}</small></a></p>
      <p><small>视频简介：{{video.v_brief}}</small></p>
    </div>
    <div class="col-md-2"></div>
  </div>

  <div class="row" style="margin-bottom: 25px;">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="card">
        <!--已登录-->
        <div class="card-body comment-send" ng-if="isLogin">
          <div class="user-face">
            <img class="user-head" ng-src="{{AVATAR}}">
          </div>
          <div class="textarea-container">
            <i class="ipt-arrow"></i>
            <textarea cols="80" name="msg" rows="5" placeholder="请自觉遵守互联网相关的政策法规，严禁发布色情、暴力、反动的言论。" class="ipt-txt" ng-model="comment_sub.content">{{comment_sub.content}}</textarea>
            <button type="submit" class="comment-submit" ng-click="comment_submit(comment_sub)">发表评论</button>
          </div>
        </div>
        <!--未登录-->
        <div class=" card-body comment-send no-login" ng-if="!isLogin">
          <div class="user-face">
            <img class="user-head" src="../avatar/default.png">
          </div>
          <div class="textarea-container">
            <div class="baffle-wrap">
              <div class="baffle">请先<a class="b-btn btn-open-mini-Login" href="/#!/login">登录</a>后发表评论 (・ω・)
              </div>
            </div>
            <i class="ipt-arrow"></i>
            <textarea cols="80" name="msg" rows="5" placeholder="请自觉遵守互联网相关的政策法规，严禁发布色情、暴力、反动的言论。" class="ipt-txt"></textarea>
            <button type="submit" class="comment-submit" disabled="disabled">发表评论</button>
          </div>
      </div>
    </div>
  </div>
  </div>
  <!--评论区-->
  <div class="row" style="margin-bottom: 25px;">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <p ng-if="isNull">暂无评论</p>
          <ul>
            <li ng-repeat="comment in commentList | orderBy: 'comment.date':true" class="videolist">
              <!--p><font color="green">{{comment.from_uid}}</font>&nbsp;<small>{{comment.date}}</small></p>
              <p>{{comment.content}}</p-->
              <!--bilibili样式-->
              <div class="mycard reply-item">
                <div class="top">
                  <div class="top-left">
                    <a href="/#!/space/{{comment.from_uid}}" class="avatar" style="background-image: url({{comment.avatar}})"></a>
                  </div>
                  <div class="top-right">
                    <div class="name-box">
                      <a href="/#!/space/{{comment.from_uid}}" class="name">{{comment.from_uid}}</a>
                      <span class="time">{{comment.date}}</span>
                    </div>
                    <div class="comment-content">
                      <span class="text">{{comment.content}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  </div>